.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: black;
  background-image: radial-gradient(circle at center, white, gray);
  text-align: center;
  backdrop-filter: "blur(10px)";
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .counter {
    width: 70%;
  }
}